*.code-workspace
.~lock*
changelog
*.cache
*.suo
*/bin/*
*/obj/*
*/debug/*
*/Debug/*
/DMTools/obj/Debug/*
*.cache
*package*
*log*
DMTools/DnDTDesktop.csproj.user
DMTools/DnDT/
.vs/D-D-Tools/DesignTimeBuild/.dtbcache.v2
*.user
