<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiegoG.DnDTDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DnDTDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiegoG.DnDTDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DiegoG.DnDTDesktop.Properties.Settings>
      <setting name="CoinWeight" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="SquareSize" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="IncapacitatedHP" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BleedingOutHP" serializeAs="String">
        <value>-5</value>
      </setting>
      <setting name="DeceasedHP" serializeAs="String">
        <value>-10</value>
      </setting>
      <setting name="InfoBoxColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="TextColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="BackgroundTextColor" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="ModifierBoxColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ModifierBoxColor2" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="TemporaryModifierBoxColor1" serializeAs="String">
        <value>LightBlue</value>
      </setting>
      <setting name="TemporaryModifierBoxColor2" serializeAs="String">
        <value>PowderBlue</value>
      </setting>
      <setting name="TemporaryModifierBoxColor3" serializeAs="String">
        <value>DeepSkyBlue</value>
      </setting>
      <setting name="AlternateInfoBoxColor" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="SavingThrowBoxColor1" serializeAs="String">
        <value>IndianRed</value>
      </setting>
      <setting name="SavingThrowBoxColor2" serializeAs="String">
        <value>Firebrick</value>
      </setting>
      <setting name="InfoBoxColor2" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="HeaderBoxColor" serializeAs="String">
        <value>DimGray</value>
      </setting>
      <setting name="___Vb" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MainFontSmall" serializeAs="String">
        <value>Arial, 8.25pt</value>
      </setting>
      <setting name="MainFontBig" serializeAs="String">
        <value>Arial, 18pt</value>
      </setting>
      <setting name="JsonWriteIndented" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_PreferredLengthUnit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_PreferredMassUnit" serializeAs="String">
        <value>0</value>
      </setting>
    </DiegoG.DnDTDesktop.Properties.Settings>
    <DnDTDesktop.Properties.Settings>
      <setting name="Console" serializeAs="String">
        <value>True</value>
      </setting>
    </DnDTDesktop.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DiegoG.DnDTDesktop.Properties.Settings>
      <setting name="Console" serializeAs="String">
        <value>True</value>
      </setting>
    </DiegoG.DnDTDesktop.Properties.Settings>
  </applicationSettings>
</configuration>
